<link rel='stylesheet' href='/static/styles/login.css' />
<main>
  <section>
    <form action='/auth/login' method='post'>
      <h1>Login</h1>
      <div class='input-group'>
        <input type='text' name='username' placeholder='Nombre de usuario' />
        <input type='password' name='password' placeholder='Contraseña' />
        {{#if msg}}
          <span class='error-msg'>{{msg}}</span>
        {{/if}}
      </div>
      <button>Continuar</button>
      <a class='register-btn' href='/auth/register'>Crear cuenta</a>
      <span class='note'>Nota: "admin-admin" es un usuario con permisos de
        administrador</span>
    </form>
  </section>
</main>