<link rel='stylesheet' href='/static/styles/login.css' />
<main>
  <section>
    <form action='/auth/register' method='post'>
      <h1>Registro</h1>
      <div class='input-group'>
        <input type='text' name='username' placeholder='Nombre de usuario' />
        <input type='password' name='password' placeholder='Contraseña' />
        {{#if msg}}
          <span class='error-msg'>{{msg}}</span>
        {{/if}}
      </div>
      <button>Continuar</button>
      <a class='login-btn' href='/auth/login'>Inicia sesion</a>
    </form>
  </section>
</main>