html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin: 1rem 0;
}

h3 {
  margin-bottom: 0.5rem;
}

main {
  margin: 1rem auto;
  width: 100%;
  max-width: 1000px;
}

#productForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  width: 10rem;
  height: 50px;
  margin: 0.5rem 0;
}

.product-list,
.cart {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.product-card {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.image {
  height: 200px;
  width: 200px;
  min-height: 200px;
  min-width: 200px;
  padding: 24px;
  display: flex;
  justify-content: center;
}

.cart .image {
  height: 72px;
  width: 72px;
  min-height: 72px;
  min-width: 72px;
  padding: 8px;
}

.image img {
  width: 100%;
  object-fit: contain;
}

.card-details {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.card-details span {
  font-size: 14px;
}
.card-details h2 {
  font-size: 20px;
  font-weight: 400;
}
.stock-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.stock-details .price {
  font-size: 24px;
  font-weight: 600;
}
.stock-details .stock {
  font-size: 14px;
}

.add-product-btn,
.delete-product-btn {
  color: blue;
  cursor: pointer;
}

.admin-actions.disable {
  display: none;
}

.cart .product-card {
  display: grid;
  grid-template-columns: 60% 20% auto;
  gap: 1rem;
}

.cart .product-details {
  display: flex;
}

.cart .stock-details {
  display: flex;
  flex-direction: column;
}

.cart .price {
  font-size: 24px;
  text-align: center;
}

.cart .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.cart .delete-product-btn {
  padding: 0 4rem;
  height: 2rem;
}

.cart .amount {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 60%;
}
.cart .amount span {
  color: blue;
  cursor: pointer;
}

.cart .stock {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.cart .name,
.cart .stock-details,
.cart .price {
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
}

.price {
  margin: 1rem 0.5rem;
  font-size: 24px;
  font-weight: 600;
}

#errorMsg {
  display: none;
}
#errorMsg.show {
  display: block;
}

#productUpdateForm {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
#productUpdateForm input {
  padding: .2rem;
}
#productUpdateForm button {
  margin-top: 0.5rem;
  width: max-content;
  height: 1.5rem;
  
}
#productUpdateForm button span{
  padding: 1rem;
}
